
  <!-- FOOTER -->

  <div class="footer-main">    
    <div class="footer-mini">
      
    <h4>FOLLOW US</h4>
      <div class="footer-logos">
        <a href="https://www.facebook.com/">
          <i class="fls fa-brands fa-2xl fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/">
          <i class="fls fa-brands fa-2xl fa-instagram"></i>
        </a>
        <a href="https://twitter.com/">
          <i class="fls fa-brands fa-2xl fa-twitter"></i>
         </a>
          <a href="https://www.linkedin.com/">
            <i class="fls fa-brands fa-2xl fa-linkedin"></i>
          </a>
      </div>
    </div>

    <br>
    <hr style="height:1px; width:75%; text-align:center; background-color: white"><br>


    <nav class="navbar navbar-expand-md footer footer-text1">
      <a class="privacy" href="#">Privacy Policy</a>
      <h5 class="spc"> &nbsp | &nbsp </h5>
      <a class="tnc" href="#">Terms and Conditions</a>
    </nav>
    <br>
    <br>
  </div>

  <!-- FOOTER -->


  <!-- JS Section -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <!-- JS section -->
</body>
